<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" urlLinePragmas="true">
    <assemblies>
      <add assembly="Microsoft.JScript, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
    </assemblies>
    </compilation>
    <httpRuntime/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="none"/>
    <add key="sid" value="202191449"/>
    <add key="isdemo" value="Y"/>
    <add key ="goback" value="donate.aspx"/>
  </appSettings>

  <connectionStrings >
    <add name="myConnectionString" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>

 <!--

 
 somee.com free server connection string file
 
  <connectionStrings >
    <add name="myConnectionString" connectionString=""/>
  </connectionStrings>
  
  
  Registration application connectionstring file 
  
    <connectionStrings>
    <add name="SQLDbConnection"
     connectionString=""
     providerName="System.Data.SqlClient" />
  </connectionStrings>
  -->
</configuration>